body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #1a18af;
	background: url(images/GEOG485_banner.jpg) no-repeat #ffffff;
	padding: 25px;
}

nav#TOC {
	margin-top: 120px;
}

nav#TOC > ul:first-child > li:first-child   {
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	text-shadow: #000000 0 0 0;
}



div.license {
	margin-top: 30px;
	border-top: 1px solid #001f91;
}

dd p {
	margin-top: 0;
}

dt {
	font-weight: bold;
}

a {
	color: #ea104a;
	text-decoration: none;
}

img {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 6px;
	border-top: 1px solid #0089ff;
}

h1 {
	background-color: #001f91;
	padding: 8px;
	color: #cecfdc;
}

header h1.title {
	position: absolute;
	top: 20px;
	visibility: hidden;
}

header {
	color: #cecfdc;
}

h2 {
	background-color: #1d1f6d;
	padding: 8px;
	color: #cecfdc
}

h3 {
	padding: 8px;
	padding-left: 0px;
	border: 1px none #1d1f6d;
	border-bottom-style: solid;
}

p.caption {
	font-style: italic;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 600px;
	border-bottom: 1px solid #0089ff;
	padding-bottom: 6px;
}

header h2.author {
	position: absolute;
	top: 100px;
}

header h3.date {
	position: absolute;
	top: 50px;
}