body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ebebeb;
	background: #000 url(images/GEOG485_banner.jpg) no-repeat;
}

div#TOC {
	margin-top: 200px;
}

div#TOC > ul:first-child > li:first-child   {
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	text-shadow: #000000 0 0 0;
}

div#TOC > ul:first-child > li:first-child > a:first-child  {
	font-size: xx-large;
	color: #ebebeb;
}

div.license {
	margin-top: 30px;
	border-top: 1px solid #001f91;
}

dd p {
	margin-top: 0;
}

dt {
	font-weight: bold;
}

a {
	color: #85b8ff;
	text-decoration: none;
}

h1 a {
	color: #ebebeb	;
}


h2 a {
	color: #ebebeb	;
}

h3 a {
	color: #ebebeb	;
}

img {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 6px;
	border-top: 1px solid #0089ff;
}

h1 {
	background-color: #001f91;
	padding: 12px;
	display: none;
}

h2 {
	background-color: #1d1f6d;
	padding: 8px;
	
}

h3 {
	padding: 8px;
	border-style: none;
	border-color: #1d1f6d;
	border-top-style: solid;
}

p.caption {
	font-style: italic;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 600px;
	border-bottom: 1px solid #0089ff;
	padding-bottom: 6px;
}