  html { background-color: gray; }
  body { 
  	background-color: black; 
  	border-radius: 12px;
	background-image: url(images/bkg.jpg);
}
  body {
	    width: 1024px; height: 768px;
    margin-left: -512px; margin-top: -384px;
    position: absolute; top: 50%; left: 50%;
    overflow: hidden;
    display: none;

}
  /* A section is a slide. It's size is 800x600, and this will never change */
  section {
	color: white;
	font: 18pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
  address, blockquote, fieldset, form, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, table, ul, { 
  	padding: 10px 20px 10px 20px;
  }
  h1, h2, h3 {
    text-align: center;
    margin: 10pt 10pt 20pt 10pt;
  }
  ul, ol {
    margin: 10px 10px 10px 50px;
  }
  section.titleslide h1 { margin-top: 200px; }
  h1.title { margin-top: 150px; }
  h1 { font-size: 180%; }
  h2 { font-size: 120%; }
  h3 { font-size: 100%; }
  q { quotes: "“" "”" "‘" "’"; }
  a {
	color: #FFFFFF;
	font-size: smaller;
	}
  blockquote { font-style: italic }
  /* Figures are displayed full-page, with the caption on
     top of the image/video */
  figure {
    background-color: black;
  }
  img {
	max-height: 100%;
	max-width: 100%;
  }
  figcaption {
    margin: 0px;
    position: absolute;
    bottom: 5px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    text-align: center;
    color: white;
  }
  
  figcaption a {
	color: white;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    text-align: right;
    background-color: #F3F4F8;
    border-top: 1px solid #CCC;
  }
  
  table.sourceCode.html.numberLines {
	font-size: medium;
}

ul {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 6px;
}

ul li ul li{
	font-size: large;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ul li {
	padding-top: 0;
	padding-bottom: 0;
}

  /* Transition effect */
  /* Feel free to change the transition effect for original
     animations. See here:
     https://developer.mozilla.org/en/CSS/CSS_transitions
     How to use CSS3 Transitions: */
  section {
      -moz-transition: left 400ms linear 0s;
      -webkit-transition: left 400ms linear 0s;
      -ms-transition: left 400ms linear 0s;
      transition: left 400ms linear 0s;
  }

  /* Before */
  section { left: -150%; }
  /* Now */
  section[aria-selected] { left: 0; }
  /* After */
  section[aria-selected] ~ section { left: +150%; }

  /* Incremental elements */

  /* By default, visible */
  .incremental > * { opacity: 1; }

  /* The current item */
  .incremental > *[aria-selected] { color: red; opacity: 1; }

  /* The items to-be-selected */
  .incremental > *[aria-selected] ~ * { opacity: 0.2; }
  
  p {
  	margin-left: 20px;
  }
  
  blockquote p {
  	margin-left: 60px;
  	margin-right: 60px;
  	font-size: smaller;
  }
  
  dl {
  	font-weight: bold;
  }
  
  dd {
  	margin-left: 40px;
  	font-weight: normal;
  }
  
  dt {
  margin-left: 20px;
  }
  
 div.codeTable {
 	overflow: scroll;
 	font-size: 12pt;
 	background-color: white;
 	width: 95%;
 	margin-left: 3%;
 	height: 500px;
 } 
 
 div.codeTable p {
 	margin-top: 10px;
 	margin-right: 30px;
 	background-color: black;
 	font-size: 18pt;
 	padding: 5px;
 }
 
 div.codeTable code.sourceCode {
 	color: black;
 }
 

  