  html { background-color: gray; }
  body { 
  	background-color: black; 
  	border-radius: 12px;
	background-image: url(images/bkg.jpg);
}
  body {
	    width: 1024px; height: 768px;
    margin-left: -512px; margin-top: -384px;
    position: absolute; top: 50%; left: 50%;
    overflow: hidden;
    display: none;

}
  /* A section is a slide. It's size is 800x600, and this will never change */
  section {
	color: white;
	font: 18pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
  address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, table, ul, dl { padding: 10px 20px 10px 20px;
  	text-align: left;
  }
  h1, h2, h3 {
    text-align: left;
    margin: 10pt 10pt 20pt 10pt;
  }
  ul, ol {
    margin: 10px 10px 10px 50px;
  }
  section.titleslide h1 { margin-top: 200px; }
  h1.title { margin-top: 150px; }
  h1 { font-size: 180%; }
  h2 { font-size: 120%; }
  h3 { font-size: 100%; }
  q { quotes: "“" "”" "‘" "’"; }
  a {
	color: #6c77ff;
}
  blockquote { font-style: italic }
  /* Figures are displayed full-page, with the caption on
     top of the image/video */
  figure {
    background-color: black;
  }
  img {
	max-height: 100%;
	max-width: 100%;
  }
  figcaption {
    margin: 0px;
    position: absolute;
    bottom: 5px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    text-align: center;
    color: white;
  }
  
  figcaption a {
	color: white;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    text-align: right;
    background-color: #F3F4F8;
    border-top: 1px solid #CCC;
  }
  
  table.sourceCode.html.numberLines {
	font-size: medium;
}

ul {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 6px;
}

ul li ul li{
	font-size: large;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ul li {
	padding-top: 0;
	padding-bottom: 0;
}

  /* Transition effect */
  /* Feel free to change the transition effect for original
     animations. See here:
     https://developer.mozilla.org/en/CSS/CSS_transitions
     How to use CSS3 Transitions: */
  section {
      -moz-transition: opacity 1s ease-in 1s;
      -webkit-transition: opacity 1s ease-in 1s;
      -ms-transition: opacity 1s ease-in 1s;
      transition: opacity 1s ease-in 1s;
  }

  /* Before */
  section { left: -150%; }
  /* Now */
  section[aria-selected] { left: 0; }
  /* After */
  section[aria-selected] ~ section { left: +150%; }

  /* Incremental elements */

  /* By default, visible */
  .incremental > * { opacity: 1; }

  /* The current item */
  .incremental > *[aria-selected] { color: red; opacity: 1; }

  /* The items to-be-selected */
  .incremental > *[aria-selected] ~ * { opacity: 0.2; }
  
  /* My VERY SPECIAL styles */
  
  a {
  	font-size: medium;
  }

 p code {
 	background-color: #ffffff;
 	color: #0d23c9;
 	font-size: medium;
 	padding: 0 4px;
 }
 
 td.lineNumbers {
 	width: 20px;
 }
 
 div.codeTable {
  	background-color: #c4c2c2;
  	display: block;
  	height: 400px;
  	width: 700px;
  	overflow: scroll;
  	margin-left: 50px;
  }
  
  table.sourceCode.html.numberLines {
  	font-size: x-small;
  }
  
  table.sourceCode.bash.numberLines {
  	font-size: x-small;
  }
  
  table.sourceCode.xml.numberLines {
  	font-size: x-small;
  }
  
  table {
  	font-size: small;
  	width: 90%;
  }
  
  pre.numberLines {
  	font-size: x-small;
  	padding: 20xp;
  	background-color: #ffffff;
  	color: #0e0fe1;
  }
  
  dd {
  	font-size: medium;
  }
  
  