/* OpenLayers_01.css */

body {
	width:100%;
	height:100%
}

#map,.map {
	width:600px;
	height:400px;
}

#map_selector li {
	cursor:pointer;
	width:150px;
}

#map_selector li:hover {
	background-color: yellow;
}



#map div.ol-viewport div.ol-overlaycontainer-stopevent div.ol-overviewmap.ol-unselectable.ol-control.ol-uncollapsible {
	top: 200px;
	bottom: 300px;
}